{
    "printWidth": 180,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "trailingComma": "none",
    "semi": true,
    "overrides": [
        {
            "files": ["*.yml", "*.yaml", "*.json"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
